---
import { getLinkByUuid } from "@teamgalena/shared/database";
import getPlayerName from "../lib/server/mojang";

export const partial = true;

const data = await Astro.request.formData();
const uuid = data.get("uuid")?.toString();

if (!uuid)
  return new Response(null, {
    status: 400,
    statusText: `parameter 'uuid' is missing`,
  });

const [link, username] = await Promise.all([
  getLinkByUuid(uuid),
  getPlayerName(uuid),
]);

if (!link)
  return new Response(null, {
    status: 404,
    statusText: `Link with uuid ${uuid} not found`,
  });
---

<dialog open>
  <h3>Edit {username}</h3>
</dialog>

<style></style>
