---
import Layout from "@/components/Layout.astro";
import Page from "@/components/Page.astro";
import Search from "@/components/Search.astro";
import Table from "@/components/Table.astro";
import { getLinks } from "@teamgalena/shared/database";

const size = 16;
const page = await getLinks({ size });
---

<Layout>
  <p class="info">
    {page.pageInfo.total} supporters have linked their minecraft account
  </p>
  <Search hx-target="#link-list > tbody" pageInfo={page.pageInfo} />
  <Table id="link-list">
    <tr slot="header">
      <th>UUID</th>
      <th>Discord-ID</th>
      <th>Created</th>
      <th>Updated</th>
      <th>Rank</th>
      <th>Flags</th>
      <th></th>
    </tr>

    <Page page={page} />
  </Table>
</Layout>

<style>
  .info {
    text-align: center;
  }
</style>
