---

---

<div id="loading-indicator"></div>

<style scoped>
  #loading-indicator {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 0px;

    background: var(--accent);

    transition: height 0.3s ease;

    &.htmx-request {
      height: 6px;
    }
  }
</style>
